.bg-label-primary {
    background-color: rgba(var(--bs-primary-rgb),.15);
    color: var(--bs-primary);
}
.bg-label-secondary {
    background-color: rgba(var(--bs-secondary-rgb),.15);
    color: var(--bs-secondary);
}
.bg-label-info {
    background-color: rgba(var(--bs-info-rgb), 0.15);
    color: var(--bs-info);
}
.bg-label-success {
    background-color: rgba(var(--bs-success-rgb), 0.15);
    color: var(--bs-success);
}
.bg-label-warning {
    background-color: rgba(var(--bs-warning-rgb), 0.15);
    color: var(--bs-warning);
}
.bg-label-danger {
    background-color: rgba(var(--bs-danger-rgb), 0.15);
    color: var(--bs-danger);
}
.bg-label-black {
    background-color: rgba(var(--bs-black-rgb), 0.15);
    color: var(--bs-gray-700);
}
