.dt--top-section {
    display: none;
}
.power-grid-table {
    background: #ffffff;
    box-shadow: rgba(50, 71, 92, 0.06) 0px 2px 9px -2px, rgba(50, 71, 92, 0.04) 0px 4px 9px 1px, rgba(50, 71, 92, 0.02) 0px 2px 6px 4px;
}
.power-grid-table .pg-actions {
    gap: 0 !important;
    justify-content: center;
}
.power-grid-table > :not(caption) > * > * {
    padding: 0.5rem 0.75rem !important;
}
.table tbody, .table td, .table tfoot, .table th, .table thead, .table tr {
    line-height: 1.25rem !important;
}
.detail-view {
    border-top: 1px solid #dee2e6 !important;
    margin-bottom: 0;
}
.content {
    margin-top: 1.5rem;
}
.btn {
    font-weight: 500;
    font-size: 0.9rem;
    padding: .35rem .7rem;
    letter-spacing: 0.03rem;
}
.nav-pills .nav-link {
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    letter-spacing: 0.03rem;
    color: rgba(50, 71, 92, 0.6);
    margin-right: 5px;
}
.nav-pills .nav-link:hover:not(.active) {
    background-color: rgba(50, 71, 92, 0.1);
}
.header-title {
    color: rgba(50, 71, 92, 0.87);
}

.modal-buttons {
    text-align: end;
    margin: 1rem -1rem -1rem -1rem;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
}

.modal-buttons .btn {
    margin-left: 0.5rem;
}
