.dt--top-section {
    display: none;
}
.power-grid-table {
    background: #ffffff;
}
.power-grid-table .pg-actions {
    gap: 0 !important;
    justify-content: center;
}
.power-grid-table > :not(caption) > * > * {
    padding: 0.5rem 0.75rem !important;
}
.table tbody, .table td, .table tfoot, .table th, .table thead, .table tr {
    line-height: 1.25rem !important;
}
.detail-view {
    border-top: 1px solid #dee2e6 !important;
}
/*
.sidebar-dropdown .sidebar-link {
    font-size: inherit;
    margin: 0 .5rem;
    padding: .65rem .75rem;
}
.sidebar-link .bi, .sidebar-link .fab, .sidebar-link .fal, .sidebar-link .far, .sidebar-link .fas, .sidebar-link svg, a.sidebar-link .bi, a.sidebar-link .fab, a.sidebar-link .fal, a.sidebar-link .far, a.sidebar-link .fas, a.sidebar-link svg {
    color: #b1b9c1;
}
.sidebar-link:hover .fab, .sidebar-link:hover .fal, .sidebar-link:hover .far, .sidebar-link:hover .fas, .sidebar-link:hover svg {
    color: #b1b9c1;
}
#sidebar .sidebar-dropdown .sidebar-item.active > .sidebar-link > i {
    color: #696cff;
    text-shadow: 0 0 4px #696cff;
}
#sidebar .sidebar-dropdown .sidebar-item > .sidebar-link > i {
    margin-right: .5rem;
    text-align: center;
    width: 22px;
    vertical-align: middle;
}

.sidebar-item.active > .sidebar-link > i {
    color: rgb(105, 108, 255) !important;

    lub

    color: #323842 !important;
}

.sidebar-item.active > .sidebar-link {
    background: rgba(105, 108, 255, 0.16);
    color: rgb(105, 108, 255);

    lub

    background: rgba(50, 56, 66, 0.10);
    color: #323842;
}
#sidebar .sidebar-dropdown .sidebar-item.active > .sidebar-link {
    color: #414856;
    font-weight: 700;
}

.sidebar-item > .sidebar-link:hover,
.sidebar-item:not(.active) > .sidebar-link[aria-expanded="true"],
.sidebar-dropdown > .sidebar-item > .sidebar-link:hover {
    background: rgba(233, 236, 239, 0.5);
    color: #212529;
}
*/
