.sidebar {
    box-shadow: rgba(50, 71, 92, 0.06) 0px 3px 3px -2px, rgba(50, 71, 92, 0.04) 0px 3px 4px 0px, rgba(50, 71, 92, 0.04) 0px 1px 8px 0px;
    min-width: 260px;
    max-width: 260px;
}
.sidebar.toggled {
    margin-left: -260px;
}
@media (min-width: 1px) and (max-width: 991.98px) {
    .sidebar {
        margin-left: -260px;
    }
    .sidebar.toggled {
        margin-left: 0;
    }
}
.sidebar-brand, .sidebar-brand:hover {
    padding: 1.25rem 1.65rem;
    font-size: 25px;
    color: rgba(50, 71, 92, 0.87);
    font-weight: 700;
    text-transform: lowercase;
}
.sidebar-brand i {
    scale: 1.2;
    transform: rotate(-10deg);

    background: -webkit-linear-gradient(top left, #afb1ff, #696cff, #3e3f91);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar-link, a.sidebar-link {
    margin-inline: 1rem;
}
.sidebar-dropdown .sidebar-link {
    font-size: inherit;
    margin: 0 .5rem;
    padding: .65rem .75rem;
}
.sidebar-link .bi, .sidebar-link .fab, .sidebar-link .fal, .sidebar-link .far, .sidebar-link .fas, .sidebar-link svg, a.sidebar-link .bi, a.sidebar-link .fab, a.sidebar-link .fal, a.sidebar-link .far, a.sidebar-link .fas, a.sidebar-link svg {
    color: #b1b9c1;
}
.sidebar-link:hover .fab, .sidebar-link:hover .fal, .sidebar-link:hover .far, .sidebar-link:hover .fas, .sidebar-link:hover svg {
    color: #b1b9c1;
}
#sidebar .sidebar-dropdown .sidebar-item.active > .sidebar-link > i {
    color: #696cff;
    text-shadow: 0 0 4px #696cff;
}
#sidebar .sidebar-dropdown .sidebar-item > .sidebar-link > i {
    margin-right: .5rem;
    text-align: center;
    width: 22px;
    vertical-align: middle;
}

.sidebar-item.active > .sidebar-link > i {
    color: rgb(105, 108, 255) !important;
}

.sidebar-item.active > .sidebar-link {
    background: rgba(105, 108, 255, 0.16);
    color: rgb(105, 108, 255);
}
#sidebar .sidebar-dropdown .sidebar-item.active > .sidebar-link {
    color: #414856;
    font-weight: 700;
}

.sidebar-item > .sidebar-link:hover,
.sidebar-item:not(.active) > .sidebar-link[aria-expanded="true"],
.sidebar-dropdown > .sidebar-item > .sidebar-link:hover {
    background: rgba(233, 236, 239, 0.5);
    color: #212529;
}
