.timeline .timeline-event {
    position: relative;
    padding: .5rem 1.5rem 1rem;
    margin: 0 1.5rem;
}

.timeline .timeline-event::before {
    content: '';
    width: 1px;
    position: absolute;
    left: -1px;
    top: 0;
    bottom: 0;
    background-color: #cccccc75;
}

.timeline .timeline-event:first-child::before {
    top: 15px;
    bottom: 0;
}

.timeline .timeline-event:last-child::before {
    top: 0;
    height: 15px;
}

.timeline .timeline-event:first-child:last-child::before {
    top: 0;
    height: 0;
}

.timeline .timeline-event::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: -5px;
    top: 15px;
    background-color: #696cff;
    outline: 3px solid #e7e7ff;
    border-radius: 50%;
}

.timeline .timeline-event .timeline-event-remove {
    display: none;
    font-weight: 500;
    padding: 0;
    margin: 0 5px;
    background: none;
    color: #4685e0;
    border: 0
}

.timeline .timeline-event:hover .timeline-event-remove {
    display: inline-block;
}

.timeline .timeline-event .timeline-event-title {
    font-size: 90%;
    font-weight: 500;
}

.timeline .timeline-event .timeline-event-content {
    font-size: 90%;
    border-radius: .2rem;
    padding: .6rem .8rem;
    margin-top: .3rem;
}

.timeline .timeline-event .timeline-event-input {
    font-size: 90%;
}
