// Sidebar
$sidebar-brand-color: #acb0cc;
$sidebar-nav-background: #2f3349;
$sidebar-content-bg: #2f3349;

// Navbar
$navbar-theme-background: #2f3349;
$navbar-theme-color:                 rgba(#acb0cc, .5);
$navbar-theme-hover-color:           rgba(208, 212, 241, 0.78);
$navbar-theme-active-color:          rgba(208, 212, 241, 0.78);
$hamburger-color:                    rgba(208, 212, 241, 0.78);

$body-bg: #25293c;
$header-color: #acb0cc;
$breadcrumb-active-color: #acb0cc;
